<div class="home-hero">
  <div class="gutter">
    <div class="f fw aic jcc">
    <div class="fa f jcc">
      <img src='{{ 'smoky.png' | file_url }}' class="max350">
    </div>
    <div class="fa aic xmax50 p1">
        <h3 class="mt0">{{ settings.home-header-text }}</h3>
        <div class ="f x jcc fw">
            <a href="{{ shop.url }}" class="fa"><button class="px2 py05 mr1 mt05 f3 mbl-x">
              Shop Now
            </button></a>
            <a href="{{ recipes.url }}" class="fa"><button class="px2 py05 mt05 f3 mbl-x">
              See Recipes
            </button></a>
        </div>

    </div>
  </div>
</div>
</div>
<div class="f x fw">
  <div class="fa aic min-height-500" style="background:url({{ 'huevos.jpg' | file_url }}); background-size:cover;">
  </div>
  <div class="p2 ac f jcc fa xmax50">
      <h3 class="aic fa text-col-8">
        <div class="x"><img src='{{ 'plus-beer.png' | file_url }}' class="inline-block"></div>
        JUST+ADD BEER IS CHEF-CRAFTED SAUCE DESIGNED FOR COOKING WITH BEER FOR NEW MOUTH ADVENTURES?
        <div class="x"><img src='{{ 'rocket-spit-tongue.png' | file_url }}' class="inline-block"></div>

</h3>
  </div>
</div>
<div class="x grn ac py1">
    <a href="{{ recipes.url }}" class="f2 white">GRAB YOUR BEER – NEW MOUTH ADVENTURES START HERE</a>
</div>

<div class="f x fw">
    <div class="fa ac" style="background:url({{ 'huevos.jpg' | file_url }}); background-size:cover;">
      <div class="f3 x py1 blk-overlay white bottom mg-top-500">MAKE HOPPED-UP HUEVOS RANCHEROS</div>
    </div>
    <div class="fa ac" style="background:url({{ 'porkchops.jpg' | file_url }}); background-size:cover;">
      <div class="f3 x py1 blk-overlay white bottom mg-top-500">GRILL OUT GLAZED-OVER PORK CHOPS</div>
    </div>
    <div class="fa ac" style="background:url({{ 'tuna-tataki.jpg' | file_url }}); background-size:cover;">
      <div class="f3 x py1 blk-overlay white bottom mg-top-500">SLICE-UP SOME  TANKED TUNA TATAKI</div>
  </div>
</div>

<div class="x grn ac py1">
    <a href="{{ recipes.url }}" class="f2 white">SEE MORE RECIPES ></a>
</div>

<div class="f x fw">
  <div class="fa fw aic min-height-500" style="background:url({{ 'huevos.jpg' | file_url }}); background-size:cover;">
  </div>
  <div class="fa aic p2 f jcc xmax50">
    <div class="aic fa text-col-20">
    <h3 class="mt0">WHY IS IT SOOO GOOD? UMAMI (OOO-MAHHH-MEEE)</h3>
    <p>The flavor of savory Umami is built into every bite of Just+Add Beer Sauce and Marinade Mix™ with ingredients like miso, kombu dashi and tomato paste. When paired with the fermented goodness of your favorite beer – this flavor combination makes #BEERFOOD that’ll take your mouth to places it might’ve never been.</p>

    <p>Plus, our sauces are made with SQUEAKY CLEAN ingredients. SEE OUR INGREDIENTS LIST ></p>
    <img src='{{ 'vegan.png' | file_url }}'>
  </div>
  </div>
</div>

<div class="x blk ac py1">
    <a href="{{ shop.url }}" class="f2 white">Get Sauced</a>
</div>

{{ content_for_index }}
